/* body {
  margin: 0;
  font-family: 'Your Chosen Font', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Your Code Font', monospace;
} */
